body{
    background-color: rgb(34, 224, 76);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

p{
    text-align: center;
}

h1{
    text-align: center;
}

div{
    text-align: center;
}
